:root{
    --unsa: #b60303;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

.centrar{
    text-align: center;
}

.tabla-asistencia{
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10px;
}

.tabla-asistencia tr{
    border: 1px solid;
}

.tabla-asistencia th{
    border: 1px solid;
}

.tabla-asistencia td{
    text-align: center;
    border: 1px solid;
}

.tabla{
  border-collapse: collapse;
  margin: auto;
}

.tabla thead {
  background-color: var(--unsa);
  color: white;
}

.tabla tr{
  border: 1px solid #cbcbcb;
}

.tabla td, .tabla th {
    border: 1px solid #cbcbcb;
    padding: 5px 5px;
    margin:  auto;
    text-align: center;
    height: 50px;
}

.izq td{
    text-align: left;
}
.subtitulo{
    padding: 20px;
}



.btn_pdf{
	margin: 10px;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #C30b22;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.a_name{
    background-color: #C30b22;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.btns_bloque{
    margin: auto;
}

.btn_select{
    margin: 10px;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #78288C;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.btn_select2{
    margin: 10px;
    width: 83px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #78288C;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.btn_volver{
    margin: 10px;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #C30b22;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.btn_asist{
    text-align: center;
    margin-left: 480px;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #C30b22;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.botones{
	margin-bottom: 20px;
}

.all{
	margin: 20px;
}

.cuadritos span{
    background: #b60303;
    color: #fff;
  }